.account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(3, 3, 3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(233, 1, 1, 0.3);
}

.h15 {
  font-size: 36px;
  margin-bottom: 20px;
}

.p5 {
  font-size: 24px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .h15 {
    font-size: 28px;
  }
  
  .p5 {
    font-size: 20px;
  }
}

/* this point onwards were the css for jabir and vansh's about page, if any issues, probs caused from here */

.Full{
  background-color: #202622;
}
.breif{
  margin-top: 60px;
  border: 1px solid rgb(22, 92, 8); /* add border */
  padding: 10px; /* add padding */
  background-color: #f2f2f2; /* add background color */
  width: 700px; /* define the width */
  height: 500px;
  line-height: 1.5; /* define line height */
  background-color: rgb(40, 192, 40);
  margin: auto;
  border-radius: 7%;


}
.logo1{
  height: 400px;
  width: inherit;

  margin: auto;

}
.Title{
  font-size: 35px;
  color: black;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: #000000;


}
.para{
  font-size: 16px; /* define font size */
  font-family: 'Times New Roman', Times, serif;
  

}
.devs{
  font-size: 16px;
  margin-top: 60px;
  border: 1px solid rgb(22, 92, 8); /* add border */
  padding: 10px; /* add padding */
  background-color: #f2f2f2; /* add background color */
  width: 700px; /* define the width */
  
  line-height: 1.5; /* define line height */
  background-color: green;
  margin-left: auto;
  margin-bottom: 0px;
  margin-right: auto;
  
  width: inherit;

  
}
.bwtpara{
 margin: 8px;
}
.logos{
  margin: auto;

}
.logo1{
  margin-top: 25px  ;
  width: 100px;
  height: 100px;
  
}
.logo2{
  margin-top: 25px;
  margin-left: 5px;
  width: 150px;
  height: 150px;
}

.logo3{
  margin-top: 22px;
  margin-left: 10px;
  width: 105px;
  height: 105px;

}.bwtpara{
  font-family: 'Times New Roman', Times, serif;
}

.logo1:hover{
  
  background-color: rgba(40, 192, 40, 0);

}
.logo2:hover{
  
  background-color: rgba(40, 192, 40, 0);

}.logo3:hover{
  
  background-color: rgba(40, 192, 40, 0);

}